  @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
  * {
      margin: 0;
      padding: 0;
  }

  header {
      background-color: #2874f0;
      padding: 20px;
      height: 25px;
      border: 1px solid rgb(74, 155, 247);
      
  }

  header nav ul h1 {
      display: flex;
      color: white;
      position: absolute;
      left: 0;
      padding: 0px 30px;
      font-family: 'Tilt Warp', cursive;
  }

  header nav ul {
      color: white;
      display: flex;
      list-style: none;
      justify-content: flex-end;
      align-items: center;
  }

  header nav ul li a {
      text-decoration: none;
      color: aliceblue;
      display: flex;
      padding-top: 5px;
      padding: 0px 30px 0px 0px;
      font-family: 'Rubik', sans-serif;
  }

  /*https://source.unsplash.com/1200x300/?iphone*/
  header nav ul li a:hover {
      font-weight: bold;
  }

  header nav ul input {
      border-radius: 1px;
      border-style: solid;
      border-color: #2C74B3;
      position: relative;
      right: 10vw;
      width: 25vw;
      height: 4vh;
      text-align: start;
      padding: 2px 10px;
      text-decoration: none;
      border-radius: 20px;
      text-align: left;
      border: solid 2px rgb(18, 130, 250);
  }

  footer {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2874f0;
      border: 0.5px solid rgb(66, 134, 202);
      height: 12vh;

  }

  footer p {
      color: aliceblue;
      font-family: 'Rubik', sans-serif;

  }

  main {
      border: 1px solid rgb(62, 144, 208);
      background-color: #EAFDFC;
      min-height: calc(100vh - 75px - 12vh);

  }

  main .container .firstcard {
      background-color: #5d91c4;
      border-radius: 20px;
      margin: 20px 20px;
      border: 1px solid rgb(0, 145, 255);

  }

  main .container .card-items {
      display: inline-block;
      width: 190px;
      background-color: rgb(255, 255, 255);
      height: 190px;
      border: 2px solid rgb(173, 159, 159);
      border-radius: 20px;
      margin: 10px 25px;
      text-align: center;


  }

  main .container .firstcard h2 {
      font-family: 'Kumbh Sans', sans-serif;
      color: #EAFDFC;
      display: flex;
      justify-content: center;
      padding: 20px 0px;
      margin: 0;
  }

  main .container .card-items img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 20px;
      margin-top: 10px;



  }

  .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 20px;
      padding-top: 1px;

  }

  .card-items ul{
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style-type: none;
    position: relative;
    bottom: 20px;
    box-sizing: border-box;
    
  }

